// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
// Variables
@import "variables";

@tailwind preflight;
@tailwind utilities;
// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "partials/template";

.public-body {
    /* Tic tac toe */
    background-color: #f0fafc;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23d7e2ea' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    animation: backgroundScroll 25s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes backgroundScroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px -400px;
    }
}

.navbar-light {
    background: $primary;

    .navbar-brand,
    .navbar-toggler {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    .navbar-toggler {
        font-size: 2rem;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $white;
            }
        }
    }
}

.container-fluid {
    max-width: 70rem;
}

#admin_show_houseguest {
    .houseguest-img {
        margin-bottom: -4rem;
        position: relative;
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.scroll-table {
    tbody {
        display: block;
        max-height: 25rem;
        overflow-y: auto;
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

.scroll-small-section {
    max-height: 25rem;
    overflow-y: scroll;
}

.table-link-group {
    .table-link-header {
        display: block;
    }

    .table-link-body {
        max-height: 25rem;
        overflow-y: auto;
    }
}

#pool_player_leaderboard {
    .table-link-group {
        .table-link-header {
            display: block;
        }

        .table-link-body {
            max-height: 1000rem;
            overflow-y: auto;
        }
    }
}

.leaderboard-image {
    position: relative;
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 50%;

    img {
        width: 100%;
        height: auto;
    }
}

.pool-banner {
    width: 30rem;
    max-width: 45rem;
    min-height: 8rem;

    .pools-img {
        max-height: 8rem;
        width: auto;
        min-width: 11rem;
    }
}

.card-guest-img {
    max-height: 10rem;
}

.login-card,
.form-card {
    width: 25rem;
}

.border-shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.form-control {
    @apply bg-grey-lightest;
}
