html,
body {
    list-style: none;

    a {
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    @apply bg-indigo;
}

.navbar-light {
    background: $primary;

    .navbar-brand,
    .navbar-toggler {
        color: $white;

        &:hover {
            color: $white;
        }
    }

    .navbar-toggler {
        font-size: 2rem;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $white;
            }
        }
    }
}

.container-fluid {
    max-width: 70rem;
}
